html {
    background-color: #cdd6e5;
    /* background-image: url('/tahta4.jpg'); */
    color: #000;
    font-size: 13pt;

    --monospace-font: 'Lucida Console', monospace;
    --sans-font: 'Arial', sans-serif;
    --serif-font: 'Noto Serif', serif;
    --page-background: url('/kağıt-beyaz.jpg');
    --carved-page-background: url('/kağıt2.jpg');
}

body {
    margin: 0px;
}

#page {
    display: block;
    background-color: #fdfeff;
    text-align: justify;
    margin-right: var(--page-margin);
    padding-left: var(--page-pad);
    padding-right: var(--page-pad);
    max-width: var(--page-size);
    min-width: var(--page-size);
    font-family: var(--serif-font);
    box-shadow: 0px 0px 8px black;
    /* background-image: var(--page-background); */
}

#panels {
    --page-margin: 16px;
    --panel-margin: 32px;
    --page-pad: 1cm;
    --side-pad: 12px;
    --page-total-size: 250mm;
    /*--page-total-size: calc(min(100vw * (1080 / 1920), 1080px));*/
    /*--side-total-size: calc(min((100vw - var(--page-total-size) - 2 * var(--page-margin) - 2*var(--panel-margin)) / 2, 720px));*/
    --side-total-size: 80mm;
    --page-size: calc(var(--page-total-size) - 2 * var(--page-pad));
    --side-size: calc(var(--side-total-size) - 2 * var(--side-pad));
    --page-left-margin: calc((100vw - var(--page-total-size) - 2*var(--page-pad)) / 2);
    display: flex;
    flex-direction: row;
    margin-left: var(--page-left-margin);
    vertical-align: middle;
    width: calc(var(--page-total-size) + var(--side-total-size) + var(--page-margin));
    margin-top: 40px;
    margin-bottom: 40px;
}

#labels, #page {
    padding-top: 10px;
    padding-bottom: 10px;
    word-wrap: break-word;
}

#labels {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    margin-left: 0px;
    max-width: var(--side-size);
    min-width: var(--side-size);
    padding-left: var(--side-pad);
    padding-right: var(--side-pad);
    background-color: #fdfeff;
    z-index: 0;
    box-shadow: 0px 0px 8px black;
    /* background-image: var(--page-background); */
}

post-list {
    border-bottom: 1px solid #555555;
    padding-bottom: var(--page-margin);
}

sidebar-label-list > h2 {
    margin-bottom: 8px;
    margin-top: 0px;
}

#labels > sidebar-label-list {
    border-top: 1px solid #808080;
    padding-top: var(--page-margin);
}

details > details, details > a {
    margin-left: 10px;
}

a.no-decor {
    text-decoration: none;
    color: inherit;
}

a.sidebar-link {
    text-decoration: none;
}

sidebar-link-container {
    display: flex;
    flex-direction: column;
}

img {
    padding: 0 !important;
    margin: 0 auto !important;
    /* display: table-cell; */
    object-fit: contain;
    max-width: fit-content;
    border: 4px outset black;
}

figure {
    display: flex;
    flex-direction: column;
    caption-side: bottom;
    margin: auto;
}

figcaption {
    caption-side: bottom;
    text-align: center;
}

h1, h2 {
    text-align: center;
    font-family: var(--sans-font);
}

post-list > h2 {
    padding: 0;
    margin-bottom: 8px;
}

h1 {
    font-size: 36pt;
}

h2 {
    font-size: 16pt;
}

figure, div.sourceCode {
    background-color: #f0f1f2;
    box-shadow: 0px 0px 8px inset;
    background-image: var(--carved-page-background);
    padding: 16px;
}

.time-container > h3, label-list > h3 {
    margin-bottom: 8px;
}

.time-container > p, label-list > p {
    margin-top: 0px;
}

code.sourceCode {
    font-family: var(--monospace-font);
    font-size: 14pt;
}

summary {
    cursor: default;
}

footer {
    display: flex;
    flex-direction: row;
    gap: 24px;
}

footer, sidebar-label-list {
    font-family: var(--sans-font);
}

footer > p {
    text-align: center;
}

summary.current-tag {
    color: darkgoldenrod;
}