table,
th,
td {
   border: 1px solid black;
   border-collapse: collapse;
}

th {
   background-color: darkgray;
   color: white;
}

tr:nth-child(odd) {
   background-color: lightgray;
}

th,
td {
   padding: 4px;
}